:root {
  --bg-color: #272424;
  --header-color: #121111;
  --text-color: #f5ebeb;
  --card-bg: #1e1e1e;
  --accent: #ea4b4b;
}

* {
  box-sizing: border-box;
}

/* Body */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

/* Main */
main {
  max-width: 1200px;
  margin: 0 auto;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

article img {
  max-width: 800px;
  margin: 0 auto;
}

/* Article */
article {
  background-color: var(--card-bg);
  padding: 15px;
  margin: 15px 0;
  width: 100%;
}

article h2 {
  text-align: center;
}

/* Nav */
nav {
  display: flex;
  gap: 30px;
}

.nav-toggle {
  display: none;
}

/* Header */
header {
  align-items: center;
  background-color: color-mix(in srgb, var(--bg-color), 90%, transparent);
  backdrop-filter: blur(20px);
  display: flex;
  gap: 40px;
  justify-content: center;
  position: sticky;
  top: 0;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

/* Custom Classes */

/* Project Grid */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

/* Header Band */
.header-band {
  background-color: var(--header-color);
  color: var(--text-color);
  padding: 1rem 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  text-align: center;
}

/* About Me Section */
.about-me-section {
  background-color: var(--accent);
  color: var(--text-color);
  padding: 1rem 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  text-align: center;
}

.about-me-section p {
  line-height: 1.5;
  max-width: 75ch;
  margin-bottom: 1rem;
  margin: 0 auto;
}

.contact-section {
  background-color: var(--accent);
  color: var(--text-color);
  padding: 1rem 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  text-align: center;
}

.contact-section nav {
  flex-direction: column;
}

/* Small Rules */
@media (max-width: 1000px) {
  .nav-toggle {
    display: block;
  }

  header {
    justify-content: space-between;
    flex-direction: row;
  }

  .site-nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .site-nav.open {
    display: flex;
  }

  .about-me-section p {
    padding: 0 20px;
  }
}